$white: #fff;
$light-grey: #ededed;
$grey: #333;
$cyan: #17c3b2;

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  background-color: $light-grey;
  color:$grey;
  font-family: 'Roboto', Arial, sans-serif;
}

.cool-container {
  background-color: $cyan;
  min-height: 100%;
  position: absolute;
}